body {
  margin: 0;
  background-color: $main-background-color;
}

// Changing the standard color of the switch
.ant-switch-checked {
  background-color: #00CC47 !important;
  opacity: 1 !important;
}
.ant-table {
  background-color:  $second-main-background-color !important;
  color: $main-color !important;
}
.ant-table-cell {
  padding: 5px 10px !important;
  height: 10px !important;
}

// Custom table settings
/* table header text color */
.ant-table-thead > tr > th {
  color: $main-color !important;
  background-color:  $second-main-background-color !important; /* измените значение на нужный вам цвет */
}

.ant-table-wrapper .ant-table-cell:nth-child(6),
.ant-table-cell:nth-child(8),
.ant-table-cell:nth-child(10) {
  background-color:  $second-main-background-color !important;
}

/*
fix handleStyle
*/
.ant-slider .ant-slider-handle::before {
  display: none
}

.ant-slider .ant-slider-handle::after {
  display: none
}

.ant-slider .ant-slider-dot-active {
  display: none;
}

.ant-slider-horizontal .ant-slider-dot {
  display: none;
}

/**Button style */
.ant-btn-default:not(:disabled):hover {
  color: #9e9e9e;
  border-color: #9e9e9e;
}

.ant-select-selector {
  background: $main-background-color !important;
  border: 1px solid $second-background-color !important;
  color: $main-color !important;
}

.ant-select-selection-placeholder {
  color: $main-color !important;
}

.ant-select-arrow {
  color: $main-color !important;
}

.ant-select-item-option-content {
  color: $main-color !important;
}

.ant-select-dropdown .ant-select-item-option-selected {
  background: $menu_container_color !important;
}

.ant-table-tbody > tr {
  margin-bottom: 50px;
  padding: 10px;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to top, #30ad00, #299400);
  border-radius: 6px;
  border: 3px solid transparent;
  background-clip: content-box;
  animation: flickerAnimation 1s infinite;
}

/* Scroll bar background styles */
::-webkit-scrollbar-track {
  background-color: $main-background-scroll;
  border-radius: 6px;
}
/* Pagination background styles */
.ant-pagination .ant-pagination-item a{
  color: $main_color;
  background-color: $main_pagination_container_background;
}
.ant-pagination .ant-pagination-item-active{
  background-color: $main_pagination_container_background;
  border-color: $main_pagination_color;
}
span button{
  background-color: #299400!important;
  border: 2px solid #227a00!important;
}
