$main-container-color: #ffffff;
$main-text-color: #000000;


/** Button main setting */
$button-color: #f5f5f5;
$button-main-color: #1677ff;
$button-success-color: #28a745;
$button-warning-color: #ffc107;
$button-danger-color: #dc3545;
$button-link-color: #428EFF;
$button-shadow: #9e9e9e;
$button-color__disable: #FFFFFF;
$button-main-color__disable: #BDBDBD;

/** Header main color */
$header-background-color: #F8FAFB00;
$header-color: rgb(248, 250, 251);
/** Index Color */
$main-background-color: #E6E6E6;
$second-background-color: rgba(58, 57, 57, 0.75);
$second-main-background-color: rgba(73, 73, 73, 0.85);
$main-background-scroll: #3f3f3f;
$main-color: #F8FAFB;

/** Menu style */
$menu_container_background_color: #0047FF12;
$menu_container_color: #7D8790;
$menu_container_background_color__selected: #FFFFFF;
$menu_container_color__selected: #000000;

/**Separate line*/
$separate-line-color:#D9D9D9;

/**Pagination number container */
$main_pagination_container_background: transparent;
$main_pagination_color: #8a8686;
